<div class="legend-list">
	{{#each items}}
        <div class="legend-item"><span class="legend-item-icon" style="background-color:{{this.fillStyle}};border:{{this.strokeWidth}}px solid {{this.strokeStyle}}"></span><span class="legend-item-text">{{this.text}}</span></div>
	{{/each}}
</div>