<!DOCTYPE html>
<html ng-app="domainLoaderApp">
<head lang="en">
    <title>Domain List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="css/style.css" media="screen"/>
</head>
<body ng-controller="DomainLoaderCtrl">
<div class="container">
    <div style="margin-left: auto;margin-right:auto;text-align: center;">
        <h3>Upload a New Domain {{versionNumber}}</h3>
        <input id="domain_name" type="text" ng-model="domain.name" placeholder="Domain Name"/>
        <input id="domain_description" ng-model="domain.description" type="text" placeholder="Domain Description"/>
    </div>
    <div style="float:left;display: block;">

        <h4>via CSV</h4>

        <form ng-submit="addDomainViaFile()">


            <div style="clear:both;"></div>
        <span class="btn btn-default btn-file">
        Select File <input id="file_upload" file-model="domain.file" type="file" accept="text/csv"/>
            </span>
            <span id="file_name">{{ fileName }}</span>
            <input class="btn btn-primary" id="fileSubmit" type="submit" value="Submit"/>
        </form>
    </div>
    <div style="float:right;display: block;">
        <h4>via Connection String (<span data-toggle="tooltip" data-placement="left" title="Driver={MySQL ODBC 5.3 Unicode Driver};Server=localhost;Database=memex;Uid=root;Pwd=password;">ODBC</span>)
        </h4>

        <form id="upload_connection" ng-submit="addDomainViaConnectionString()">

            <input id="connection_string" type="text" ng-model="domain.connection" placeholder="Connection String"/>
            <input id="table_name" type="text" ng-model="domain.table" placeholder="Table Name"/>

            <div style="clear:both;"></div>
            <input id="attribute_column" type="text" ng-model="domain.attribute" placeholder="Attribute Column Name"/>
            <input id="value_column" type="text" ng-model="domain.value" placeholder="Value Column Name"/>

            <div style="clear:both;"></div>
            <input class="btn btn-primary" type="submit" value="Submit"/>
        </form>
    </div>
    <table id="domain_list" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>
                Domain Name
            </th>
            <th>
                Domain Description
            </th>
            <th>
                Remove Domain
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="domain in domains">
            <td>
                <button class="btn-info" ng-click="getPreview(domain)">{{domain.name}}</button>

                <table class="table table-bordered" ng-show="domain.show">
                    <tr ng-repeat="contents in domain.preview">
                        <td>
                            {{contents}}
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                {{domain.description}}
            </td>
            <td>
                <button ng-click="removeDomain(domain)" class="btn-danger">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/domainloader.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
</body>
</html>
