<!-- Create Domain Modal -->
<div class="modal fade" id="domainModal" role="dialog" aria-labelledby="domainModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="domainModalLabel">Create A Domain</h4>
            </div>
            <div class="modal-body">
                <h3>Under Construction</h3>
                <b>This should load the new domain manager interface.</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal"> Save</button>-->
            </div>
        </div>
    </div>
</div>
