<div>
    <h3>Extracted Features
        <button ng-show="allowEditFeatures" style="float: right;" class="btn btn-default" ng-click="editFeatures()">Done</button>
        <button ng-show="!allowEditFeatures" style="float: right;" class="btn btn-default" ng-click="editFeatures()">Edit</button>
    </h3>
    <div ng-repeat="(entityType, entities) in extracted_entities_dict">
        <h3>{{entityType}}</h3>
        <table class="table table-bordered">
            <tr ng-repeat="name in entities track by $index" ng-hide="invalid[name]">
                <td ng-show="allowEditFeatures" width="15px">
                    <button ng-hide="invalid[name]" class="btn btn-sm btn-danger" ng-click="markInvalid(entityType, name);">-</button>
                    <span ng-hide="!invalid[name]">Marked</span>
                </td>
                <td>
                    <span ng-switch on="isExtracted(entityType, name)">
                        <span ng-switch-when="true" style="font-weight: bold">{{name}}</span>
                        <span ng-switch-default style="font-weight: normal">{{name}}</span>
                    </span>
                </td>
            </tr>
        </table>

    </div>
</div>
