html, body, #graph {
  width: 100%;
  height: 100%;
}

body {
 padding-top: 110px;
}

#control-panel {
  background-color: lightgray;
}

#graph {
 position: fixed;
 top: 0px;
}


.node {
  stroke: #fff;
  stroke-width: 1.5px;
}


.link {
  fill: none;
  stroke: #bbb;
}


.result_thead, .result_tbody { display: block; }


.nomargin {
    margin: 0;
}

.boldlink {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    cursor: pointer;
}




.highlighed_verts_dialog {
    max-height: 300px;
    overflow-y: scroll;
}


.pointer {
    cursor: default;
}


.selected {
  background-color: #3399FF;
  color: ffffff;
  font-weight: bold;
}


.extent {
   stroke: #fff;
   fill-opacity: .125;
   shape-rendering: crispEdges;
}

.brush .extent {
   fill-opacity: .125;
   shape-rendering: crispEdges;
}

.chart rect {
   fill: steelblue;
}

.chart text {
   fill: white;
   font: 10px sans-serif;
   text-anchor: end;
}

.axis text {
   font: 10px sans-serif;
}

.axis path,
.axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}


.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0;
  margin-right: 10px;
}
.checkbox-inline.no_indent:last-child {
  margin-right: 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
