dw:
  build: ../server
  ports:
    - "80:80"
  environment:
    MYSQL_ROOT_PASSWORD: root
    DW_DB: memex_sotera
    DW_DB_USER: root
    DW_DB_PASSWORD: root
    DW_DB_HOST: localhost
    DW_DB_PORT: 3306
    DW_MOCK_AUTH:  1
    DW_MOCK_FORENSIC_AUTH: 1
    DW_CONN_TYPE: mysql
  volumes:
    - ~/src/Datawake/server/datawake:/usr/local/share/tangelo/web/datawake
    - ~/src/Datawake/server/forensic:/usr/local/share/tangelo/web/forensic

